@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


/* 
    Created by: Md Mazlan;
    Date: 25 Jul 2021;
    */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color:#F75656;
    --body-bg:#F5F8FA;
    --nav-height:75px;
}
html,body{
    overflow-x: hidden;
}
p{
    margin-bottom: 0px !important;
}
h1,h2,h3,h4,a,p{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px !important;
}

body{
    background: var(--body-bg);
}

/* topbar start */

    .main-topbar {
        width: 100%;
        height: var(--nav-height);
        background: #fff;
        position: fixed;
        top: 0;
        z-index: 1000;
    }


.topbar-all-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topbar-left-content{
    display: flex;
    align-items: center;
}
.topbar-logo {
    margin: 0px 22px;
}
.topbar-toggler-icon {
    margin-right: 25px;
}
.topbar-toggler-icon img {
    
    cursor: pointer;
    
}
.topbar-logo {
    margin-left: 10px;
    margin-right: 60px;
}

.topbar-search {
    width: 190px;
    height: 40px;
    position: relative;
}
.topbar-search input::placeholder{
    color:#B0CAD1;
    font-weight: bold;
}
.topbar-search img {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 19px;
color: #11111187;
cursor: pointer;
}
.topbar-search input {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    background: var(--body-bg);
    padding-left: 10px;
    color: #11111187;
}

.topbar-search input:focus{
    outline: none;
}
.topbar-right-content {
    margin-right: 20px;
}
.topbar-right-content .profile{
    display: flex;
    align-items: center;
}
.profile .profile-image{
    cursor: pointer;
}
.topbar-right-content .profile .profile-name h3 {
    color: #111111d6;
    font-weight: 600;
    margin-left: 7px;
    font-size: 18px;
}
/* topbar end */


/* sidebar start */

.sidebar {
    position: fixed;
    width: 300px;
    background: #fff;
    height: 100%;
    top:calc(var(--nav-height) + 30px);
    left: -300px;
    padding: 8px;
    transition: all .4s ease-in;
    z-index: 10000;
}
.sidebar.active{
    left: 0;
    transition: all .4s ease-in;
}
.sidebar-text {
    line-height: 40px;
    margin-left: 10px;
    color: var(--main-color);
}

.sidebar-menu ul li {
    list-style: none;
    line-height: 40px;
}
.sidebar-menu ul li.active{
    background: var(--body-bg);
}
.sidebar-menu ul li a {
    padding-left: 10px;
    color: var(--main-color);
    text-decoration: none;
    font-weight: 500;
    display: block;
}
.sidebar-menu ul li a i {
    font-size: 18px;
    margin-right: 4px;
}
.sidebar-menu ul li.ex-link a {
    padding-left: 30px !important;
    color: #111111ba !important;
}

/* sidebar start */

.main {
    margin-left: 0px;
    margin-top: calc(var(--nav-height) + 30px);
    padding-left: 15px;
    padding-right: 15px;
    transition: all .4s ease-in;
}
.main.active{
    margin-left:300px;
    transition: all .4s ease-in;
}

.main-url-path {
    width: 100%;
    height: 50px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.main-url-path p{
    color: var(--main-color);
    font-weight: 500;
}

.main-url-path p span{
    color: #111111ba;
}

.dashboard-information {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15px;
}


.all-box{
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 5px;
}
.congrs-box {
    text-align: center;
    padding-top: 25px;
    
}
.congrs-box h2{
    color: var(--main-color);
    font-weight: 600;
}
.congrs-box h2 span{
    font-size: 14px;
}
.congrs-box h4 span{
    color: var(--main-color);;
}
.congrs-box p{
    
    color: #111111c2;
}

.static-box {
    display: flex;
    align-items: center;
    padding: 25px 9px;
    justify-content: space-around;
}
.static-box .static-box-img img{
width: 30px;
}

.view-text p:nth-child(1){
    color: var(--main-color);
    font-weight: 500;

}
.order-box {
    text-align: center;
    padding:20px 5px;
}
.order-box h4{
    color: var(--main-color);
}

@media(max-width:768px){
    .topbar-toggler-icon {
        margin-right: 10px;
    }
   
    .topbar-logo {
        margin-left: 5px;
        margin-right: 20px;
    }
    .topbar-search {
        width: 170px;
        
    }
    .topbar-right-content .profile .profile-name h3 {
        color: #111111d6;
        font-weight: 600;
        margin-left: 2px;
        font-size: 15px;
    }
}

@media(max-width:576px){
    .topbar-toggler-icon {
        margin-right: 2px;
    }
   
    .topbar-logo {
        margin-left: 0px;
        margin-right: 5px;
    }
    .topbar-search {
        width: 130px;
        
    }
    .topbar-right-content .profile .profile-name h3 {
        color: #111111d6;
        font-weight: 400;
        margin-left: 2px;
        font-size: 14px;
    }
}

@media(max-width:420px){
 .profile-name h3{
     display: none;
 }
 .topbar-logo img{
    width: 100px;
}
}